main {
    height: 100vh;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}